# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build outputs & caches
dist
dist-ssr
public/build
.vite
.cache
.turbo
coverage
.nyc_output
*.tsbuildinfo
*.local

# Environment files
.env*

# IDE / OS artifacts
.vscode/*
!.vscode/extensions.json
.idea
.history
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
